@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 47 100% 98%;
    --foreground: 0 0% 3.9%;
    --card: 227 43% 96%;
    --card-foreground: 0 0% 3.9%;
    --popover: 227 43% 96%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 172 96% 33%;
    --primary-foreground: 0 0% 98%;
    --secondary: 227 43% 96%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 100% 77%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 98%;
    --card: 0 0% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 172 96% 33%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 13%;
    --input: 0 0% 13%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-muted-foreground font-sans antialiased;
  }
  h1,
  h2,
  h3 {
    @apply text-foreground font-serif;
  }
}

.light-mesh {
  background-color: hsla(79, 98%, 66%, 1);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1799 1799' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    radial-gradient(
      circle at 94% 95%,
      hsla(170, 88%, 68%, 1) 3%,
      transparent 76%
    ),
    radial-gradient(
      circle at 89% 34%,
      hsla(263, 96%, 51%, 1) 1%,
      transparent 86%
    ),
    radial-gradient(
      circle at 86% 50%,
      hsla(318, 80%, 65%, 1) 7%,
      transparent 76%
    ),
    radial-gradient(
      circle at 89% 79%,
      hsla(248, 76%, 53%, 1) 7%,
      transparent 87%
    ),
    radial-gradient(
      circle at 15% 44%,
      hsla(4, 74%, 80%, 1) 15%,
      transparent 81%
    ),
    radial-gradient(
      circle at 99% 20%,
      hsla(75, 88%, 92%, 1) 1%,
      transparent 68%
    );
  background-blend-mode: overlay, normal, normal, normal, normal, normal, normal;
}

@keyframes hero-gradient-animation {
  0% {
    --c-0: hsla(265, 73%, 45%, 1);
    --y-0: 16%;
    --x-0: 13%;
    --s-start-0: 9%;
    --s-end-0: 58.89119889119889%;
    --c-1: hsla(345, 88%, 31%, 0.91);
    --y-1: 89%;
    --s-start-1: 9%;
    --s-end-1: 58.89119889119889%;
    --x-1: 14%;
    --x-2: 23%;
    --c-2: hsla(264, 73%, 3%, 1);
    --s-start-2: 2%;
    --s-end-2: 60%;
    --y-2: 23%;
  }

  100% {
    --c-0: hsla(260, 85%, 32%, 1);
    --y-0: 18%;
    --x-0: 95%;
    --s-start-0: 4%;
    --s-end-0: 60%;
    --c-1: hsla(292.99999999999994, 68%, 43%, 1);
    --y-1: 47%;
    --s-start-1: 4.5991935069083505%;
    --s-end-1: 60%;
    --x-1: 97%;
    --x-2: 92%;
    --c-2: hsla(27.79411764705882, 87%, 37%, 1);
    --s-start-2: 4%;
    --s-end-2: 73%;
    --y-2: 91%;
  }
}

@property --c-0 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(265, 73%, 45%, 1);
}

@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 16%;
}

@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 13%;
}

@property --s-start-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 9%;
}

@property --s-end-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 58.89119889119889%;
}

@property --c-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(345, 88%, 31%, 0.91);
}

@property --y-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 89%;
}

@property --s-start-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 9%;
}

@property --s-end-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 58.89119889119889%;
}

@property --x-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 14%;
}

@property --x-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 23%;
}

@property --c-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(264, 73%, 3%, 1);
}

@property --s-start-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 2%;
}

@property --s-end-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 60%;
}

@property --y-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 23%;
}

.dark-mesh {
  --c-0: hsla(265, 73%, 45%, 1);
  --y-0: 16%;
  --x-0: 13%;
  --c-1: hsla(345, 88%, 31%, 0.91);
  --y-1: 89%;
  --x-1: 14%;
  --x-2: 23%;
  --c-2: hsla(264, 73%, 3%, 1);
  --y-2: 23%;
  background-color: hsla(272, 86%, 9%, 1);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1288 1288' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    radial-gradient(
      circle at var(--x-0) var(--y-0),
      var(--c-0) var(--s-start-0),
      transparent var(--s-end-0)
    ),
    radial-gradient(
      circle at var(--x-1) var(--y-1),
      var(--c-1) var(--s-start-1),
      transparent var(--s-end-1)
    ),
    radial-gradient(
      circle at var(--x-2) var(--y-2),
      var(--c-2) var(--s-start-2),
      transparent var(--s-end-2)
    );
  animation: hero-gradient-animation 2s linear infinite alternate;
  background-blend-mode: overlay, overlay, normal, normal;
}

.test {
  color: #03a58f;
}
