@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 98.82%;
    --foreground: 0 0% 9.02%;
    --card: 0 0% 98.82%;
    --card-foreground: 0 0% 9.02%;
    --popover: 0 0% 98.82%;
    --popover-foreground: 0 0% 32.16%;
    --primary: 151.33 66.86% 66.86%;
    --primary-foreground: 153.33 13.04% 13.53%;
    --secondary: 0 0% 99.22%;
    --secondary-foreground: 0 0% 9.02%;
    --muted: 0 0% 92.94%;
    --muted-foreground: 0 0% 12.55%;
    --accent: 0 0% 92.94%;
    --accent-foreground: 0 0% 12.55%;
    --destructive: 9.89 81.98% 43.53%;
    --destructive-foreground: 0 100% 99.41%;
    --border: 0 0% 87.45%;
    --input: 0 0% 96.47%;
    --ring: 151.33 66.86% 66.86%;
    --chart-1: 151.33 66.86% 66.86%;
    --chart-2: 217.22 91.22% 59.8%;
    --chart-3: 258.31 89.53% 66.27%;
    --chart-4: 37.69 92.13% 50.2%;
    --chart-5: 160.12 84.08% 39.41%;
    --sidebar: 0 0% 98.82%;
    --sidebar-foreground: 0 0% 43.92%;
    --sidebar-primary: 151.33 66.86% 66.86%;
    --sidebar-primary-foreground: 153.33 13.04% 13.53%;
    --sidebar-accent: 0 0% 92.94%;
    --sidebar-accent-foreground: 0 0% 12.55%;
    --sidebar-border: 0 0% 87.45%;
    --sidebar-ring: 151.33 66.86% 66.86%;
    --font-sans: Outfit, sans-serif;
    --font-serif: Playfair Display, serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
    --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
    --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
      0px 1px 2px -1px hsl(0 0% 0% / 0.17);
    --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
      0px 1px 2px -1px hsl(0 0% 0% / 0.17);
    --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
      0px 2px 4px -1px hsl(0 0% 0% / 0.17);
    --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
      0px 4px 6px -1px hsl(0 0% 0% / 0.17);
    --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
      0px 8px 10px -1px hsl(0 0% 0% / 0.17);
    --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
    --tracking-normal: 0.025em;
  }

  .dark {
    --background: 0 0% 7.06%;
    --foreground: 214.29 31.82% 91.37%;
    --card: 0 0% 9.02%;
    --card-foreground: 214.29 31.82% 91.37%;
    --popover: 0 0% 14.12%;
    --popover-foreground: 0 0% 66.27%;
    --primary: 154.9 100% 19.22%;
    --primary-foreground: 152.73 19.3% 88.82%;
    --secondary: 0 0% 14.12%;
    --secondary-foreground: 0 0% 98.04%;
    --muted: 0 0% 12.16%;
    --muted-foreground: 0 0% 63.53%;
    --accent: 0 0% 19.22%;
    --accent-foreground: 0 0% 98.04%;
    --destructive: 6.67 60% 20.59%;
    --destructive-foreground: 12 12.2% 91.96%;
    --border: 0 0% 16.08%;
    --input: 0 0% 14.12%;
    --ring: 141.89 69.16% 58.04%;
    --chart-1: 141.89 69.16% 58.04%;
    --chart-2: 213.12 93.9% 67.84%;
    --chart-3: 255.14 91.74% 76.27%;
    --chart-4: 43.26 96.41% 56.27%;
    --chart-5: 172.46 66.01% 50.39%;
    --sidebar: 0 0% 7.06%;
    --sidebar-foreground: 0 0% 53.73%;
    --sidebar-primary: 154.9 100% 19.22%;
    --sidebar-primary-foreground: 152.73 19.3% 88.82%;
    --sidebar-accent: 0 0% 19.22%;
    --sidebar-accent-foreground: 0 0% 98.04%;
    --sidebar-border: 0 0% 16.08%;
    --sidebar-ring: 141.89 69.16% 58.04%;
    --font-sans: Outfit, sans-serif;
    --font-serif: Playfair Display, serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
    --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
    --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
      0px 1px 2px -1px hsl(0 0% 0% / 0.17);
    --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
      0px 1px 2px -1px hsl(0 0% 0% / 0.17);
    --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
      0px 2px 4px -1px hsl(0 0% 0% / 0.17);
    --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
      0px 4px 6px -1px hsl(0 0% 0% / 0.17);
    --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
      0px 8px 10px -1px hsl(0 0% 0% / 0.17);
    --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-muted-foreground font-sans antialiased;
  }
  h1,
  h2,
  h3 {
    @apply text-foreground font-serif;
  }
}

.light-mesh {
  background-color: hsla(79, 98%, 66%, 1);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1799 1799' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    radial-gradient(
      circle at 94% 95%,
      hsla(170, 88%, 68%, 1) 3%,
      transparent 76%
    ),
    radial-gradient(
      circle at 89% 34%,
      hsla(263, 96%, 51%, 1) 1%,
      transparent 86%
    ),
    radial-gradient(
      circle at 86% 50%,
      hsla(318, 80%, 65%, 1) 7%,
      transparent 76%
    ),
    radial-gradient(
      circle at 89% 79%,
      hsla(248, 76%, 53%, 1) 7%,
      transparent 87%
    ),
    radial-gradient(
      circle at 15% 44%,
      hsla(4, 74%, 80%, 1) 15%,
      transparent 81%
    ),
    radial-gradient(
      circle at 99% 20%,
      hsla(75, 88%, 92%, 1) 1%,
      transparent 68%
    );
  background-blend-mode: overlay, normal, normal, normal, normal, normal, normal;
}

@keyframes hero-gradient-animation {
  0% {
    --c-0: hsla(265, 73%, 45%, 1);
    --y-0: 16%;
    --x-0: 13%;
    --s-start-0: 9%;
    --s-end-0: 58.89119889119889%;
    --c-1: hsla(345, 88%, 31%, 0.91);
    --y-1: 89%;
    --s-start-1: 9%;
    --s-end-1: 58.89119889119889%;
    --x-1: 14%;
    --x-2: 23%;
    --c-2: hsla(264, 73%, 3%, 1);
    --s-start-2: 2%;
    --s-end-2: 60%;
    --y-2: 23%;
  }

  100% {
    --c-0: hsla(260, 85%, 32%, 1);
    --y-0: 18%;
    --x-0: 95%;
    --s-start-0: 4%;
    --s-end-0: 60%;
    --c-1: hsla(292.99999999999994, 68%, 43%, 1);
    --y-1: 47%;
    --s-start-1: 4.5991935069083505%;
    --s-end-1: 60%;
    --x-1: 97%;
    --x-2: 92%;
    --c-2: hsla(27.79411764705882, 87%, 37%, 1);
    --s-start-2: 4%;
    --s-end-2: 73%;
    --y-2: 91%;
  }
}

@property --c-0 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(265, 73%, 45%, 1);
}

@property --y-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 16%;
}

@property --x-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 13%;
}

@property --s-start-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 9%;
}

@property --s-end-0 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 58.89119889119889%;
}

@property --c-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(345, 88%, 31%, 0.91);
}

@property --y-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 89%;
}

@property --s-start-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 9%;
}

@property --s-end-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 58.89119889119889%;
}

@property --x-1 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 14%;
}

@property --x-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 23%;
}

@property --c-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsla(264, 73%, 3%, 1);
}

@property --s-start-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 2%;
}

@property --s-end-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 60%;
}

@property --y-2 {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 23%;
}

.dark-mesh {
  --c-0: hsla(265, 73%, 45%, 1);
  --y-0: 16%;
  --x-0: 13%;
  --c-1: hsla(345, 88%, 31%, 0.91);
  --y-1: 89%;
  --x-1: 14%;
  --x-2: 23%;
  --c-2: hsla(264, 73%, 3%, 1);
  --y-2: 23%;
  background-color: hsla(272, 86%, 9%, 1);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1288 1288' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    radial-gradient(
      circle at var(--x-0) var(--y-0),
      var(--c-0) var(--s-start-0),
      transparent var(--s-end-0)
    ),
    radial-gradient(
      circle at var(--x-1) var(--y-1),
      var(--c-1) var(--s-start-1),
      transparent var(--s-end-1)
    ),
    radial-gradient(
      circle at var(--x-2) var(--y-2),
      var(--c-2) var(--s-start-2),
      transparent var(--s-end-2)
    );
  animation: hero-gradient-animation 2s linear infinite alternate;
  background-blend-mode: overlay, overlay, normal, normal;
}

.test {
  color: #03a58f;
}
